/*
* Note:
* Watch SASS extension doesn't support @use and @forward.
* Watch your sass with the terminal:
*    sass --watch scss:css
*/

@use '../scss/abstracts' as *;
@use '../scss/base';
@use '../scss/utilities';
@use '../scss/components';
@use '../scss/layout';
@use '../scss/pages';

a:hover {
  color: $color-dark;
}

.link-design {
  color: $color-dark;

  &:hover {
    color: $color-white;
    opacity: 0.75;
  }
}
