@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

$barlow-font-stack: 'Barlow', sans-serif;
$barlow-condensed-font-stack: 'Barlow Condensed', sans-serif;
$bellefair-font-stack: 'Bellefair', serif;
